<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAM5BuIkqGBt_0b1aeIyrgmwsA0IddrHEg</string>
	<key>GCM_SENDER_ID</key>
	<string>664321133517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productive360App</string>
	<key>PROJECT_ID</key>
	<string>productive360-dbase</string>
	<key>STORAGE_BUCKET</key>
	<string>productive360-dbase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664321133517:ios:66aceac9be0bf48f635284</string>
	<key>DATABASE_URL</key>
	<string>https://productive360-dbase-default-rtdb.firebaseio.com</string>
</dict>
</plist>